/Client/Client/nbproject/private/
.metadata/.lock
.metadata/
/nbproject/private/
/Client working path/nbproject/private/
/Tor Chat - Node/nbproject/private/
*.xml

*.mf

*.properties
/Client working path/build/
Tor Chat - Node/keystore

Tor Chat - Node/build/classes/Message/Message.class

*.class

Tor Chat - Node/build/classes/.netbeans_update_resources

Tor Chat - Node/build/classes/.netbeans_automatic_build

client meeting notes.txt
